# ---- Frontend ----
NEXT_PUBLIC_TRPC_URL=http://localhost:4000/trpc
FRONTEND_PORT=3000

# ---- Backend ----
DATABASE_URL=postgresql://patient_app:patient_app@localhost:5432/patient_timeseries?schema=public

MOCK_API_URL=https://mockapi-furw4tenlq-ez.a.run.app/data
DEFAULT_PATIENT_COUNT=10
BACKEND_PORT=4000
CORS_ORIGIN=http://localhost:3000

# ---- PostgreSQL ----
POSTGRES_USER=patient_app
POSTGRES_PASSWORD=patient_app
POSTGRES_DB=patient_timeseries
POSTGRES_PORT=5432
